{% extends "index.html" %}
{% block body %}
<div class="container mt-5">
    <div class="d-flex flex-column">
        <a type="button" class="btn btn-success btn-lg mb-3" style="border-radius: 0;"
            href="{{ url_for('createPayment') }}">Create a new payment</a>
    </div>
    <form method="post" class="d-flex">
        <div class="mb-3 me-2" style="flex: 0 0 90%;">
            <select class="form-select w-100" name="select">
                <option selected value="-1">All</option>
                {% for employee in employees %}
                <option value="{{ employee['id'] }}">{{ employee["name"] }} ({{ employee["paymentsAmount"] }})</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary custom-btn">Search</button>
    </form>
</div>
<div class="container align-items-center justify-content-center mt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in data %}
            <tr>
                <th scope="row">{{ payment["id"] }}</th>
                <td>{{ payment["amount"] }}</td>
                <td>{{ payment["dateFormatted"] }}</td>
                <td>{{ payment["employee"]["id"] }}</td>
                <td>
                    <a href="{{ url_for('paymentDetails', id=payment['id']) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{{ url_for('deletePayment', id=payment['id']) }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}