@font-face {
    font-family: windows-xp;
    src: url(../images/windows-xp-tahoma.ttf);
}

html {
    cursor: url("../images/cursor.cur"), auto !important;
}

body {
    overflow: hidden;
    background-image: url("../images/xp.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh !important;
    z-index: -10;
    padding: 0px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

button {
    cursor: url("../images/pointer.cur"), auto !important;
}

.barradiv {
    position: fixed;
    bottom: 0;
}

.barra {
    position: fixed;
    bottom: -2px;
    width: 150% !important;
    margin-left: -1rem !important;
    height: 2.4rem !important; 
    display: block;
    margin: 0 auto; 
}

.relogio {
    text-shadow: none !important;
    line-height: 2rem;
    position: fixed;
    bottom: -2px;
    right: 0;
    color: white;
    background-image: url(../images/clock.png);
    height: 2.4rem !important;
    width: 6rem !important;
}

#clock-text {
    margin-left: .8rem !important;
}

.icon-group {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recycle{
    text-shadow: 0.5px 0 #000000, -0.5px 0 #000000, 0 0.5px #000000, 0 -0.5px #000000,
    0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
}

.songs{
    text-shadow: 0.5px 0 #000000, -0.5px 0 #000000, 0 0.5px #000000, 0 -0.5px #000000,
    0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000, -0.5px 0.5px #000000;
}

.icon {
    width: 3rem;
    cursor: url("../images/pointer.cur"), auto;
}

.icon-text {
    color: white;
}

.error-text {
    color: black !important;
    margin-left: 8rem !important;
}

.error-image {
    width: 2.5rem;
}

.modal-header {
    color: white;
    border-radius: 0px !important;
    background-color: rgb(0, 87, 229) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 2rem;
}

.modal-footer button {
    margin: auto !important;
    line-height: 1rem;
    width: 5rem;
    height: 2rem;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    background-color: rgb(240, 235, 235) !important;
}

.modal-footer button:hover {
    color: black;
}

.modal-content {
    border-radius: 0px !important;
    border-top: 0px solid !important;
    border-left: 3px solid rgb(0, 87, 229) !important;
    border-right: 3px solid rgb(0, 87, 229) !important;
    border-bottom: 3px solid rgb(0, 87, 229) !important;
}

#error-content {
    background-color: #f0ecdc !important;
}

.close-btn {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    line-height: 1rem !important;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    cursor: url("../images/pointer.cur"), auto !important;
    margin-right: -0.8rem !important;
}

a {
    cursor: url("../images/pointer.cur"), auto !important;
}

.no-select {
    user-select: none !important;
}

.black {
    color: black !important;
}

.options {
    display: flex;
    flex-direction: row;
}

#options {
    margin-top: -2.3rem;
    margin-left: -1rem;
    background-color: rgb(202, 201, 201) !important;
    border-radius: 0px !important;
    width: 70%;
    padding: 5x;
}

.option {
    line-height: 0.5rem !important;
    border-radius: 0px !important; 
    height: 1.5rem !important;
    background-color: none !important;
    border: none !important;
    transition-duration: 0s !important;
}

.option:hover {
    background-color: rgb(20, 20, 248) !important;
    color: white !important;
}

.close-btn:hover {
    filter: grayscale(15%);
}

.modal-header:active {
    cursor: url("../images/drag.cur"), auto !important;
}

.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    text-shadow: 4px 4px 5px rgba(0,0,0,0.6) !important;
}

.toggle-button.active {
    background-color: rgb(20, 20, 248) !important;
    color: white !important;
}

.windows {
    width: 145px;
    height: 80px;
    position: absolute;
    bottom: -2px !important;
    left: 0;
    cursor: url("../images/pointer.cur"), auto !important;
    background-image: url("../images/start.png");
    background-size: 80%;
    background-repeat: no-repeat;
    margin-bottom: -2.6rem;
}
.windows:hover{
    filter: brightness(120%);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.boot-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920px; 
    height: 1080px;
    object-fit: cover; 
    z-index: -1;
}

.table-text {
    text-shadow: none !important;
}

.table-text:hover {
    cursor: url("../images/blocked.cur"), auto !important;
    background-color: rgb(20, 20, 248) !important;
    color: white !important;
}

#staticBackdrop {
    z-index: 8999;
}

.custom-tooltip .tooltip-inner {
    background-color: #ffffff; 
    color: #000000;
}

.custom-tooltip {
    border-radius: 5px;
    border: 1px solid black;
}

.toast {
    text-shadow: none !important;
    z-index: 999999;
    border-radius: 0px !important;
    border-left: 3px solid rgb(0, 87, 229) !important;
    border-top: 3px solid rgb(0, 87, 229) !important;
    border-right: 3px solid rgb(0, 87, 229) !important;
    border-bottom: 3px solid rgb(0, 87, 229) !important;
}

.toast-header {
    color: white !important;
    border-radius: 0px !important;
    background-color: rgb(0, 87, 229) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 2rem;
}

#modal-bar .modal-body {
    display: flex;
    flex-direction: row;
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.0 !important;
} 

.col-app-2 {
    background-color: #d0e4fc !important;
}

.menu-1, .menu-2 {
    width: 50% !important;
}

.menu-1 .col:hover, .menu-2 .col:hover {
    background-color: #3074cc !important;
    color: white !important;
}