
html {
    cursor: url("../images/cursor.cur"), auto !important;
}

body {
    overflow: hidden;
    background-image: url("../images/xp.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -10;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

button {
    cursor: url("../images/pointer.cur"), auto !important;
}

/* BARRA DE TAREFAS */
.barra {
    height: 5vh ;
    width: 101%;
}

.barradiv {
    position: absolute;
    bottom: -5px;
    width: 100%;
    margin-left: -0.8vw !important;
}

/* RELÓGIO */
.relogio {
    line-height: 2.2rem;
    width: 6rem;
    height: 5vh;
    background: linear-gradient(to bottom, rgb(236, 241, 247), rgb(88, 154, 185));;
    position: absolute;
    color: black; 
    font-size: 15.5px;
    font-family: 'Tahoma';
    top: 95.5vh;
    left: 95vw !important;
}

/* ÍCONES */
.icon-group {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    width: 3rem;
    cursor: url("../images/pointer.cur"), auto;
}

.icon-text {
    color: white;
    font-family: Tahoma !important;
}

/* DIV WINDOWS */
.windows{
    width: 145px;
    height: 41px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: url("../images/pointer.cur"), auto !important;
}

.error-text {
    color: black !important;
    margin-left: 8rem !important;
}

.error-image {
    width: 2.5rem;
}

.modal-header {
    color: white;
    border-radius: 0px !important;
    background-color: rgb(0, 87, 229) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 2rem;
}

.modal-footer button {
    margin: auto !important;
    line-height: 1rem;
    width: 5rem;
    height: 2rem;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    background-color: rgb(240, 235, 235) !important;
}

.modal-footer button:hover {
    color: black;
}

.modal-content {
    border-radius: 0px !important;
    border-top: 0px solid !important;
    border-left: 3px solid rgb(0, 87, 229) !important;
    border-right: 3px solid rgb(0, 87, 229) !important;
    border-bottom: 3px solid rgb(0, 87, 229) !important;
}

.close-btn {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    line-height: 1rem !important;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    cursor: url("../images/pointer.cur"), auto !important;
    margin-right: -0.8rem !important;
}

a {
    cursor: url("../images/pointer.cur"), auto !important;
}

.no-select {
    user-select: none !important;
}

.black {
    color: black !important;
}

.options {
    display: flex;
    flex-direction: row;
}

#options {
    margin-top: -2.3rem;
    margin-left: -1rem;
    background-color: rgb(202, 201, 201) !important;
    border-radius: 0px !important;
    width: 70%;
    padding: 5x;
}

.option {
    line-height: 0.5rem !important;
    border-radius: 0px !important; 
    height: 1.5rem !important;
    background-color: none !important;
    border: none !important;
    transition-duration: 0s !important;
}

.option:hover {
    background-color: rgb(20, 20, 248) !important;
    color: white !important;
}

.close-btn:hover {
    filter: grayscale(15%);
}

.modal-header:active {
    cursor: url("../images/drag.cur"), auto !important;
}

.fullscreen-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#fullscreen-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    text-shadow: 4px 4px 5px rgba(0,0,0,0.6) !important;
}

.toggle-button.active {
    background-color: rgb(20, 20, 248) !important;
    color: white !important;
}

.windows{
    width: 145px;
    height: 32px;
    position: absolute;
    bottom: 0px;
    left: 0;
    cursor: url("../images/pointer.cur"), auto !important;
    background-image: url("../images/start.png");
    background-size: 80%;
    background-repeat: no-repeat;
}
.windows:hover{
    filter: brightness(120%);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (h/w * 100%) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
