body {
    overflow: hidden;
    background-image: url(../images/xp.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -10;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


/* BARRA DE TAREFAS */
.barra {
    height: 5vh ;
    width: 101%;
}

.barradiv {
    position: absolute;
    bottom: -5px;
    width: 100%;
    margin-left: -0.8vw !important;
}

/* RELÓGIO */
.relogio {
    line-height: 2.2rem;
    width: 6rem;
    height: 5vh;
    background: linear-gradient(to bottom, rgb(236, 241, 247), rgb(88, 154, 185));;
    position: absolute;
    color: black; 
    font-size: 15.5px;
    font-family: 'Tahoma';
    top: 95.5vh;
    left: 95vw !important;
}

/* ÍCONES */
.icon-group {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.icon {
    width: 3rem;
    cursor: pointer;
}

.icon-text {
    color: white;
    font-family: Tahoma !important;
}

/* DIV WINDOWS */
.windows{
    width: 145px;
    height: 41px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.error-text {
    color: black !important;
    margin-left: 8rem !important;
}

.error-image {
    width: 2.5rem;
}

.modal-header {
    color: white;
    border-radius: 0px !important;
    background-image: url(../images/barraazul.png) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 2rem;
}

.modal-footer button {
    margin: auto !important;
    line-height: 1rem;
    width: 5rem;
    height: 2rem;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    background-color: rgb(240, 235, 235) !important;
}

.modal-footer button:hover {
    color: black;
}

.modal-content {
    border-radius: 0px !important;
    border-top: 0px solid !important;
    border-left: 3px solid #1cc4ec !important;
    border-right: 3px solid #1cc4ec !important;
    border-bottom: 3px solid #1cc4ec !important;
}

.close-btn {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    line-height: 1rem !important;
    background-color: red;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    margin-right: -0.8rem !important;
}