@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;300&family=Righteous&display=swap');

@keyframes subir {
    to {margin-top: 1%;}
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(52, 98, 119, 0.2);
}

button {
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none; 
    color: white; 
    padding: 10px 16px;
    font-size: 16px; 
    cursor: pointer; 
}

#lua {
    margin-top: 5%;
    margin-left: 45%;
    transition-duration: 0.4s;
    animation-name: subir;
    animation-duration: 4s;
    color: #202020;
}

#lua:hover {
    color: rgb(221, 206, 206);
}

#sol {
    transition-duration: 0.4s;
    color: #202020;
}

#sol:hover {
    color: rgb(221, 206, 206);
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 120%;
    left: 50%;
}

.container3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 200%;
    left: 50%;
}

.container4 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 270%;
    left: 50%;
}

.card {
    height: 30em;
    width: 80em;
    border-radius: 15px;
    background-color: #202020;
    transition-duration: 0.7s;
}

.card:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card2 {
    height: 30em;
    width: 80em;
    border-radius: 15px;
    background-color: #202020;
    transition-duration: 0.7s
}

.card2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card3 {
    height: 34em;
    width: 80em;
    border-radius: 15px;
    background-color: #202020;
    transition-duration: 0.7s
}

.card3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card4 {
    height: 20em;
    width: 80em;
    border-radius: 15px;
    background-color: #202020;
    transition-duration: 0.7s;
    margin-bottom: 20px;
}

.card4:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.col-md-6 {
    text-align: center;
    color: white;
}

.col-md-7 {
    color: white;
    font-size: 45px;
    font-family: Poppins;
    margin-top: -160px;
    margin-left: 330px;
    transition-duration: 0.4s;
}

.col-md-9 {
    font-family: Poppins;
    color: white;
}

#fs{
    transition-duration: 0.7s;
    font-size: 20px;
}

#imagem {
    margin-top: 150px;
    margin-left: -1000px;
    width: 15%;
    border-radius: 150px;
    transition-duration: 0.7s;
}

#imagem:hover {
    transform: rotate(360deg);
    border-radius: 10px;
}

#obj {
    color: white;
    font-size: 45px;
    font-family: Poppins;
    text-align: center;
}

#objT {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 20px;
}

#icon{transition-duration: 0.4s;}
#icon:hover {
    transform: rotate(360deg);
}

#python {
    margin-left: 210px;
    border-style: none;
    color: rgb(68, 64, 64);
    background-color: rgb(68, 64, 64);
    width: 10%;
    transition-duration: 12000s;
}

#python:after {
    content: '70%';
}

#python:hover {
    transition-duration: 0.7s;
    border-style: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #2dc07c;
    color: white;
    width: 60%;
}

#sql {
    margin-left: 210px;
    color: rgb(68, 64, 64);
    background-color: rgb(68, 64, 64);
    border-style: none;
    width: 10%;
    transition-duration: 12000s;
}

#sql:after {
    content: '50%';
}

#sql:hover {
    transition-duration: 0.7s;
    border-style: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #49c4da;
    color: white;
    width: 40%;
}

#javascript {
    margin-left: 210px;
    border-style: none;
    color: rgb(68, 64, 64);
    background-color: rgb(68, 64, 64);
    width: 10%;
    transition-duration: 12000s;
}

#javascript:after {
    content: '40%';
}

#javascript:hover {
    transition-duration: 0.7s;
    border-style: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #F7E018;
    color: white;
    width: 30%;
}

#html {
    margin-left: 210px;
    border-style: none;
    width: 10%;
    transition-duration: 12000s;
    color: rgb(68, 64, 64);
    background-color: rgb(68, 64, 64);
}

#html:after {
    content: '40%';
}

#html:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #FF4C15;
    transition-duration: 0.7s;
    border-style: none;
    color: white;
    width: 30%;
}

#css {
    margin-left: 210px;
    border-style: none;
    color: rgb(68, 64, 64);
    background-color: rgb(68, 64, 64);
    width: 10%;
    transition-duration: 12000s;
}

#css:after {
    content: '30%';
}

#css:hover {
    transition-duration: 0.7s;
    border-style: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #0076BE;
    color: white;
    width: 20%;
}

#l {
    margin-left: 210px;
}

#sobreT {
    color: white;
    font-size: 20px;
    font-family: Poppins;
    margin-top: -160px;
    margin-left: 220px;
}

#git {
    margin-left: 2%;
    color: white;
    transition-duration: 0.7s;
}

#git:hover {
    color: rgb(52, 98, 119);
}

