@media screen and (max-width: 480px) {
    .container {margin-left: 160px;}

    .card {
        height: 25em;
        width: 40em;
        border-radius: 15px;
        background-color: #202020;
        transition-duration: 0.7s;
    }

    #imagem {
        margin-top: 100px;
        margin-left: -260px;
        width: 30%;
    }

    .container2 {margin-left: 160px;}

    .card2 {
        height: 30em;
        width: 40em;
    }

    .container3 {margin-left: 160px; margin-top: 40px;}

    .card3 {
        height: 35em;
        width: 40em;
        border-radius: 15px;
        background-color: #202020;
        transition-duration: 0.7s
    }

    .col-md-9 {margin-left: -150px;}

    .exp {margin-left: 170px;}

    .container4 {margin-left: 160px; margin-top: 160px;}

    .card4 {
        height: 30em;
        width: 40em;
    }

    #lua {margin-left: 320px;}

    #sol {margin-left: 320px;}
}