<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L I M I N A L</title>
    <link rel="icon" href="static/styles/images/icon.png" type="image/png">
    <link rel="stylesheet" href="../styles/css/index.css">
    <script src="../scripts/click.js"></script>
    <script src="../scripts/erro.js"></script>
    <script src="../scripts/relogio.js"></script>
</head>
<body>
<!-- BARRA DE TAREFAS -->  
    <div class="barradiv">
        
    <img src="../styles/images/barra.png" class="barra">
    
    </div>

        <!-- Relógio -->
        <div class="relogio" id="relogio"></div>

 <!-- -------------- -->

 <!-- ICONES -->  
    <div class="icones">
          
            <img src="../styles/images/trash.png" class="trash" id="thrash" onclick="mostrarErro()"> <div class="recycle"> Recycle Bin </div>
           
        
            <img src="../styles/images/file.png" class="file"> <div class="liminal"> Liminal </div>
          
    </div>
<!------------->

<div class="windows" onclick="mostrarErro()"></div>

 <!-- Aba de erro -->
 <div class="erro-overlay" id="erroOverlay">
    <a class="barraerro"> Erro </a>
    <img class="barraazul" src="../styles/images/barraazul.png">
    <button class="fechar1" onclick="fecharErro()" ><img class="x" src="../styles/images/fechar.png"></button>
    <img class="erro" src="../styles/images/erro.png">
    <a class="menssagem"> Você não devia estar aqui. </a>
    <button class="fechar2" onclick="fecharErro()" >OK</button>
</div>
<!-- ------------- -->

<!-- AUDIOS -->
<audio id="click" src="../styles/audios/click.mp3" preload="auto"></audio>
<!-- ----------- -->
</body>
</html>